.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 0 0 20px 0;
}
.THIS .large {
    height: 100px;
}
.THIS .x-large {
    height: 300px;
}
.THIS .custom-box {
    text-align: center;
    background-color: #96c4ff;
    padding: 1rem;
    border: 1px solid #000000;
}
.THIS .custom-box-2 {
    text-align: start;
    width: 100%;
    height: 200px;
    background-color: #b4d5ff;
    padding: 1rem;
    border: 1px solid #000000;
}
.THIS .center-card {
    max-width: 30%;
}
.THIS .slds-card {
    margin-bottom: 0;
    background-color: #7090b8!important;
}
.THIS .slds-card__footer {
    background-color: #7090b8!important;
}